# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
FileLinker.iml
codeStyles/
libraries/
markdown-navigator-enh.xml
markdown-navigator.xml
misc.xml
modules.xml
vcs.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
